rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // For this sample, we allow all reads and writes.
    // In a real application, you should secure your data.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
